body {
background-color: #FFE4F0;
font-family: league spartan;  
max-width: 100rem;
margin: 1rem auto;
font-size: 1.4rem;
  
}

h1 {
	 text-align: center;
	 margin-bottom: 1rem;
   font-size: 7rem;
   font-family: 'Dancing Script', cursive;
   font-weight: 100;
}

h2{
  color: #8C0056;
  font-family: gloock;
  text-align: center;
  font-size: 1.8rem;
  
}

article {
	 padding: 1rem;
 padding-top: 1rem;
}
 article p {
	 font-family: league spartan;
	 font-size: 1.4rem;
	 line-height: 1.8;
   
}

 figure {
   padding: 1rem;
  margin: 1rem;
	 align-items: center;
	 align-self: flex-start;
	 display: flex;

	 justify-content: center;
	 top: 3rem;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.coffee {
  text-align:center;
  color: #f6e27a;
  position: relative;
  display: inline-block;
}

.yoga {
  text-align:center;
  color: #aaaaea;
  position: relative;
  display: inline-block;
}

.garden {
  text-align:center;
  color: #e3e3e3;
  position: relative;
  display: inline-block;
}

.column {
  float: left;
  width: 33.33%;
}

 .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: #FA5286;
  color: white;
  text-align: center;
  border-radius: 10px;
  padding: 15px 0;
  position: absolute;
  z-index: 1;
  top: 110px;
  left: 24%;
  opacity: 0;
  transition: opacity 3s;
}

/*coffee spoon cursor*/
.coffee {
  cursor: url(https://abs.twimg.com/emoji/v2/72x72/1f944.png) 36 36, auto;
}

/* yoga sparkles cursor*/
.yoga {
  cursor: url(https://abs.twimg.com/emoji/v2/72x72/2728.png) 36 36, auto;
}

/*tulip bee cursor*/
.garden{
  cursor: url(https://abs.twimg.com/emoji/v2/72x72/1f41d.png) 36 36, auto;
}

.coffee:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

.yoga:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

.garden:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
 
}

section {
  
  display:flex;

}

.tooltiptext{
  
visibility: hidden; 
  
}


figure{
 
  align-self: flex-start;
  display: flex;
  top: 3rem;
  position: sticky;
  
}